.contact-background
  .container
    form(class="pure-form pure-form-stacked" action="/user" method="post")
      fieldset
        label(for="email") Email
          input(type="email" name="email" placeholder="a@b.com")
          label(for="password") Password
