<div class="art content-padding">
  <div class="container">
    <h3 class="art__header">Paintings/Drawings</h3>
    <div class="art__thumb-row clearfix">
      <div class="row">
        <div
          class="col-sm-4 art__thumb"
          ng-click="art.modalLoad(painting.id, 'paintings')"
          ng-repeat="painting in art.paintings"
        >
          <img class="art__thumb--painting img-responsive" ng-src="{{ painting.thumbUrl }}"></img>
        </div>
      </div>
    </div>
  </div>
  <div id="artModal" tabindex="-1" role="dialog" aria-labelledby="artModal" aria-hidden="true" class="modal art-modal">
    <div class="art-modal__container modal-dialog">
      <div class="art-modal__content modal-content">
        <div class="art-modal__header modal-header">
          <button data-dismiss="modal" class="close"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="modal-img">
            <div class="art-modal__image-container">
              <img class="img-responsive" ng-src="{{art.current.url}}"/>
            </div>
          </div>
          <div class="art-modal__text-container text-center">
            <h3 class="art-modal__text-container--title">{{art.current.title}}</h3>
            <p class="art-modal__text-container--notes">{{art.current.medium}}</p>
            <p class="art-modal__text-container--notes">{{art.current.notes}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
