.illustration-background
  .container
    .illustration-section.paintings-drawings.col-md-12
      h3 Paintings/Drawings
      .paintings-section
        .thumb-row
          .art-thumb(ng-click='art.modalLoad(painting.id)' ng-repeat='painting in art.paintings')
            img(src="{{painting.url}}")

          div(ng-include="'partials/paintingmodal.html'")

    .digital-section.paintings-drawings.col-md-12
      h3 Digital Imagery
      .covers-section
        .thumb-row
          .art-thumb(ng-click='art.modalLoad()' ng-repeat='digital in art.digitals')
            img(src="{{digital.url}}")

          div(ng-include="'partials/digitalmodal.html'")


    .cover-section.paintings-drawings.col-md-12
      h3 Album Covers
      .covers-section
        .thumb-row
          .art-thumb(ng-click='art.modalLoad()' ng-repeat='cover in art.covers')
            img(src="{{cover.url}}")

          div(ng-include="'partials/covermodal.html'")


