.music-background
  .container
    .music-section.col-md-12
      .blank.col-md-2
      .content.col-md-8
        .audio-section
          .music-clip
            h4.song-title Stompin' at the Savoy
            p Listen Now!
          .music-clip
            h4.song-title Mean to Me
            p Listen Now!
          .music-clip
            h4.song-title Darn That Dream
            p Listen Now!
        hr
        .youtube-clips
          .music-video
            h4.song-title "Au Privave"
            p.song-description Performed with The Travis Patton Trio
            iframe(src="https://www.youtube.com/embed/t0qPa7Ch4h0" frameborder="0" allowfullscreen)
          .music-video
            h4.song-title "Don't Change Horses"
            p.song-description Performed with Brandon Hays
            iframe(src="https://www.youtube.com/embed/mT0s5nZeJ5s" frameborder="0" allowfullscreen)
      .blank.col-md-2
