.web-background
  .container
    .web-project.col-md-12
      .web.screenshot.col-md-4
        .web-screenshot
          img(src="assets/img/bankroll-screenshot2.png")
      .web.description.col-md-8
        h3 Bankroll App
        p A simple app created to manage part-time freelance income and expenses. Built in AngularJS, Bankroll features user registration and logs yearly totals for income and expenses.
        h4 Tech Stack
        ul
          li AngularJS
          li Firebase
        button.btn.btn-primary.button-main-blue(class="button-main-blue") View Project

    .web-project.bottom.col-md-12
      .web.screenshot.col-md-4
        .web-screenshot
          img(src="assets/img/bankroll-screenshot2.png")
      .web.description.col-md-8
        h3 Bankroll App
        p A simple app created to manage part-time freelance income and expenses. Built in AngularJS, Bankroll features user registration and logs yearly totals for income and expenses.
        h4 Tech Stack
        ul
          li AngularJS
          li Firebase
        button.btn.btn-primary.button-main-blue(class="button-main-blue") View Project
