h1, h2, h3, h4 {
  font-family: 'Arimo', sans-serif;
  color: #1f1f1f; }

h3 {
  font-size: 26px; }

p, li {
  font-family: 'Karla';
  font-size: 17px;
  color: #676767;
  line-height: 27px; }

.content-section {
  border-top: 1px solid #dedede;
  padding: 4em 0; }

.subheader {
  font-family: 'Karla', sans-serif;
  color: #505050;
  font-size: 2em; }

.subheader-white {
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  color: #ffffff; }

a:hover, a:visited, a:active, a:focus {
  text-decoration: none; }

a:focus {
  color: #3d97d2; }

.navbar {
  background-color: #ffffff;
  padding: 0.75em 0;
  border-radius: 0; }
  .navbar-default {
    border: none;
    border-bottom: 1px solid #dedede; }

.navbar-default .navbar-toggle {
  border: none; }

.navbar-default .navbar-collapse {
  border: none; }

.navbar-default .navbar-nav > li > a {
  font-family: 'Karla';
  color: #676767;
  font-size: 16px; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #3d97d2;
    border-bottom: 3px solid #3d97d2;
    text-decoration: none;
    transition: 0.3s; }

.header-logo .logo-header {
  font-family: 'Karla';
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0; }

.header-logo .logo-subheader {
  margin: 0;
  font-size: 1em;
  color: #989898; }

.header-logo a {
  color: inherit; }

.footer {
  width: 100%;
  padding-top: 20px;
  background-color: #ffffff; }
  .footer-main {
    border-top: 1px solid #dedede; }
  .footer p {
    padding-top: 20px;
    padding-bottom: 8px;
    font-size: 16px; }
  .footer .footer-icons {
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 24px;
    color: #676767; }
    .footer .footer-icons i {
      padding-left: 20px; }
    .footer .footer-icons i:hover {
      color: #3d97d2; }
    .footer .footer-icons .fa {
      color: #676767; }
  .footer .footer-right {
    float: right; }
  .footer .footer-left {
    float: left; }

.container {
  max-width: 1000px; }

.btn-primary {
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  background-color: #3d97d2;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 9px 19px 9px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px; }

hr {
  border-top: 1px solid #dedede; }

.hero-section {
  max-width: 100%;
  text-align: center;
  padding: 3em 0 5em; }
  @media (min-width: 992px) {
    .hero-section {
      padding: 7em 0 9em; } }
  .hero-section .hero-text {
    margin: 0 auto;
    font-size: 2em; }
    @media (min-width: 992px) {
      .hero-section .hero-text {
        font-size: 3em;
        max-width: 650px; } }

.about-bio h3 {
  margin-top: 0; }

.about-background .content-section {
  border-top: none; }
  @media (min-width: 768px) {
    .about-background .content-section {
      border-top: 1px solid #dedede; } }

.work-item {
  padding: 2em 0;
  border-top: 1px solid #dedede; }
  @media (min-width: 992px) {
    .work-item {
      padding: 4em 0; } }
  .work-item:first-of-type {
    border: none; }

.work-screenshot {
  border: 1px solid #dedede;
  transition: border 0.2s linear;
  margin-bottom: 1em; }
  @media (min-width: 992px) {
    .work-screenshot {
      margin-bottom: 0; } }
  .work-screenshot:hover {
    border: 1px solid #3d97d2; }

.work-title {
  margin-top: 0; }

.youtube-clips {
  padding-top: 25px; }

iframe {
  width: 96%;
  height: 310px; }

.art-thumb {
  float: left; }
  @media (min-width: 768px) {
    .art-thumb {
      padding: 0 2em 0 0; } }
  .art-thumb img {
    cursor: pointer;
    display: block;
    border: 1px solid #dedede;
    height: 65%;
    width: 65%;
    margin: 0 auto 1.5em;
    transition: border 0.2s linear; }
    .art-thumb img:hover {
      border: 1px solid #3d97d2; }
    @media (min-width: 768px) {
      .art-thumb img {
        max-height: 13em;
        width: 100%; } }
    @media (min-width: 992px) {
      .art-thumb img {
        max-height: 18em; } }

.thumb-row {
  margin: 1em 0 3em 0; }

.modal-dialog {
  width: 100%; }
  @media (min-width: 992px) {
    .modal-dialog {
      width: 450px; } }

.modal-header {
  border: none; }

.modal-content {
  border-radius: 0;
  background: none;
  box-shadow: none;
  border: none; }

.modal-backdrop {
  opacity: 0.9 !important; }

.modal-body {
  margin-bottom: 20px; }

.art-large {
  width: 100%; }
  .art-large img {
    width: 100%; }

.close {
  opacity: 1;
  text-shadow: none;
  color: #dedede; }

.modal-text h3, .modal-text p {
  color: #fff; }

.modal-text .medium,
.modal-text .notes {
  margin: 0;
  opacity: 0.8; }

.modal-header .close {
  margin-top: -12px;
  margin-right: -6px; }

@media (min-width: 992px) {
  .main-contact-text {
    padding-right: 12em; } }

.contact-icon {
  display: block;
  float: left;
  padding-right: 15px;
  font-size: 30px;
  margin-bottom: 12px; }
  .contact-icon .twitter {
    color: #55acee; }
  .contact-icon .twitter:hover {
    color: #303030; }
  .contact-icon .github:hover {
    color: #505050; }
