h1, h2, h3 {
  font-family: 'Arimo', sans-serif;
  color: #1f1f1f; }

h3 {
  font-size: 26px; }

p {
  font-family: 'Karla';
  font-size: 17px;
  color: #676767;
  line-height: 27px; }

.big-header {
  font-family: 'Arimo', sans-serif;
  color: #1f1f1f;
  font-size: 45px; }

.big-header-white {
  font-family: 'Arimo', sans-serif;
  color: #ffffff;
  font-size: 45px; }

.subheader {
  font-family: 'Karla', sans-serif;
  font-size: 35px; }

.subheader-white {
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  color: #ffffff; }

a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
  color: inherit; }

a:focus {
  color: #3d97d2; }

.navbar {
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px; }
  .navbar .container {
    border-bottom: 1px solid #dedede; }
  .navbar .header-nav-right {
    float: right;
    margin-top: 11px; }
  .navbar .header-nav-left {
    float: left; }
  .navbar .header-links {
    font-family: 'Karla';
    color: #676767;
    font-size: 16px; }
    .navbar .header-links li {
      margin-left: 15px; }
  .navbar .header-links li:hover {
    color: #3d97d2;
    border-bottom: 3px solid #3d97d2;
    text-decoration: none;
    transition: 0.3s; }

.header-logo .logo-header {
  font-family: 'Karla';
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px; }

.header-logo .logo-subheader {
  margin-top: -3px;
  margin-bottom: 7px;
  font-size: 15px;
  color: #989898; }

.header-logo a {
  color: inherit; }

.footer {
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  background-color: #ffffff; }
  .footer .container {
    border-top: 1px solid #dedede; }
  .footer p {
    padding-top: 20px;
    padding-bottom: 8px;
    font-size: 16px; }
  .footer .footer-icons {
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 24px;
    color: #676767; }
    .footer .footer-icons i {
      padding-left: 20px; }
    .footer .footer-icons i:hover {
      color: #3d97d2; }
    .footer .footer-icons .fa {
      color: #676767; }
  .footer .footer-right {
    float: right; }
  .footer .footer-left {
    float: left; }

.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1000px; }

.button-main-blue {
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  background-color: #3d97d2;
  color: #fff;
  border-radius: 0px;
  border: none;
  padding: 9px 19px 9px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px; }

hr {
  border-top: 1px solid #dedede; }

.hero-section {
  background: url("http://i61.tinypic.com/2n8s9w.jpg") no-repeat;
  background-size: cover;
  padding: 150px 0 150px 0;
  margin-top: -20px; }

.hero-text {
  max-width: 650px;
  margin: 0 auto;
  text-align: center; }

h1.hero-text {
  color: #ffffff;
  font-size: 42px;
  margin-bottom: 12px; }

p.hero-text {
  color: #ffffff;
  font-size: 28px; }

.about-background .container {
  margin-top: 50px;
  margin-bottom: 50px; }

.about-photo {
  background: url("http://i59.tinypic.com/30igdc6.png") no-repeat;
  background-size: 210px 245px;
  display: block;
  width: 210px;
  height: 245px;
  margin-top: 25px;
  border: 1px solid #dedede; }

.web-background .container {
  padding-left: 0px; }

.web-background .col-md-4 {
  padding-left: 0px; }

.web-screenshot {
  background: url("http://i58.tinypic.com/2w5ke0x.jpg") no-repeat;
  background-size: 300px 245px;
  display: block;
  width: 300px;
  height: 225px;
  margin-top: 25px; }

.music-background .col-md-12 {
  padding-left: 0px;
  padding-right: 0px; }

.container .col-md-6 {
  padding-left: 0px;
  padding-right: 0px; }

.music-section {
  margin-bottom: 40px; }

.illustration-background .col-md-12 {
  padding-left: 0px;
  padding-right: 0px; }

.thumb-row {
  width: 100%; }

.art-thumb {
  background: url("http://i58.tinypic.com/2w5ke0x.jpg") no-repeat;
  background-size: 220px 220px;
  display: block;
  width: 220px;
  height: 220px;
  border: 1px solid #dedede;
  margin-right: 40px;
  margin-bottom: 40px;
  float: left; }

.edge {
  margin-right: 0px; }

.illustration-section {
  margin-bottom: 50px; }
