.modal.fade(id="artModal" tabindex="-1" role="dialog" aria-labelledby="artModal" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss="modal")
          span &times;
      .modal-body
        img.art-large(src="{{art.current.url}}")
        h3 {{art.current.title}}
        p {{art.current.medium}}
        p {{art.current.notes}}
      .modal-footer
        button.btn.btn-primary(data-dismiss="modal") Cancel
