.navbar
  .container
    .header-nav-left
      .header-logo
        h3(class="logo-header") Kyle Turco
        p(class="logo-subheader") Web | Art | Music
    .header-nav-right
      .header-links
        ul(class="list-inline")
          li(href="/#/web") Web
          li(href="/#/art") Art/Illustration
          li(href="/#/music") Music
          li(href="/#/contact") Contact
