.navbar
  .container
    .header-nav-left
      .header-logo
        h3(class="logo") Kyle Turco
    .header-nav-right
      .header-links
        ul(class="list-inline")
          li(href="/#/web") Overview
          li(href="/#/art-illustration") Art/Illustration
          li(href="/#/music") Music
          li(href="/#/contact") Contact
