.modal.fade(id="artModal" tabindex="-1" role="dialog" aria-labelledby="artModal")
  .modal-dialog
    .modal-content
      .modal-body
        h3 {{painting.title}}
        p {{painting.medium}}
        p {{painting.notes}}
