
<div class="navbar">
  <div class="container">
    <div class="header-nav-left">
      <div class="header-logo">
        <h3 class="logo-header"><a href="/#/">Kyle Turco</a></h3>
        <p class="logo-subheader"><a href="/#/">Web | Art | Music</a></p>
      </div>
    </div>
    <div class="header-nav-right">
      <div class="header-links">
        <ul class="list-inline">
          <li><a href="/#/web">Web</a></li>
          <li><a href="/#/art">Art/Illustration</a></li>
          <li><a href="/#/music">Music</a></li>
          <li><a href="/#/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>