
<div class="navbar">
  <div class="container">
    <div class="header-nav-left">
      <div class="header-logo">
        <h3 class="logo">Kyle Turco</h3>
      </div>
    </div>
    <div class="header-nav-right">
      <div class="header-links">
        <ul class="list-inline">
          <li href="/#/web">Overview</li>
          <li href="/#/art-illustration">Art/Illustration</li>
          <li href="/#/music">Music</li>
          <li href="/#/contact">Contact</li>
        </ul>
      </div>
    </div>
  </div>
</div>