doctype html
html(lang="en-US" ng-app="bankRoll")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title KyleTurco.com
    //- link(rel="stylesheet" href="lib/build.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="main.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    //- Fonts
    link(href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css')

  body
    .navbar
      .container
        .header-nav-left
          .header-logo
            h1 Bankroll
          .header-links
            ul(class="list-inline")
              li(ng-show="auth"): a(href="/#/overview") Overview
              li(ng-show="auth"): a(href="/#/profile") Account
        .header-nav-right
          .log-buttons
            ul(class="list-inline")
              li(ng-show="auth"): a(href="/#/logout") Logout
              li(ng-hide="auth"): a(href="/#/login") Login
    .content
      .app(ng-view)

    .footer
      .container
        p ©2015 Bankroll  |  Created by Kyle Turco  |  View this project on
          a(href="https://github.com/kyleturco/bankroll-app" class="footer-link")  Github

    script(src="lib/build.js")
    script(src="assets/main.module.js")
    script(src="assets/main.run.js")
    script(src="assets/main.constants.js")
    script(src="assets/main.filters.js")
    script(src="assets/overview/finance.controller.js")
    script(src="assets/overview/finance.factory.js")
    script(src="assets/overview/overview.config.js")
    script(src="assets/static/static.config.js")
    script(src="assets/static/buttons.controller.js")
    script(src="assets/auth/auth.config.js")
    script(src="assets/auth/login.controller.js")
    script(src="assets/auth/logout.controller.js")
    script(src="assets/auth/register.controller.js")
    script(src="assets/auth/currentuser.factory.js")
