h1, h2, h3 {
  font-family: 'Arimo', sans-serif;
  color: #1f1f1f;
}

p {
  font-family: 'Karla';
  font-size: 17px;
  color: #676767;
  line-height: 27px;
}

//Header Styles

.navbar {
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  .container {
    border-bottom: 1px solid #dedede;
  }
  .header-nav-right {
    float: right;
    margin-top: 11px;
  }
  .header-nav-left {
    float: left;
  }
  .header-links {
    font-family: 'Karla';
    color: #676767;
    font-size: 16px;
  }
  .header-links li:hover {
    color: #3d97d2;
    border-bottom: 3px solid #3d97d2;
  }
}

.logo {
  font-family: 'Karla';
  text-transform: uppercase;
}


// Footer Styles
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  height: 60px;
  background-color: #ffffff;
  .container {
    border-top: 1px solid #dedede;
  }
}

// Global/Random

.container {
  padding-left: 0px;
  padding-right: 0px;
}
