@mixin fadein() {
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

$screen-sm-min: 768px;
$screen-md-min: 992px;

$heading-font: 'Nunito Sans', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;

h1, h2, h3, h4 {
  font-family: $heading-font;
  color: #404040;
  font-weight: 400;
}

h3 {
  font-size: 26px;
}

p, li {
  font-family: $body-font;
  font-weight: 300;
  font-size: 17px;
  color: #808080;
  line-height: 27px;
}

.content-section {
  border-top: 1px solid #dedede;
  padding: 4em 0;
}

.content-padding {
  padding: 5em 0;
  animation: fadein 0.2s both;
  animation-delay: 0.1s;
}

a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
}

a:focus {
  color: #3d97d2;
  // border-bottom: 3px solid #3d97d2;
}


//Header Styles
.navbar {
  background-color: #ffffff;
  padding: 0.75em 0;
  border-radius: 0;
  margin-bottom: 0;

  @media (min-width: $screen-sm-min) {
    padding: 2em 0;
  }

  &-default {
    border: none;
    border-bottom: 1px solid #dedede;
  }
}
.navbar-default {
  .navbar-toggle {
    border: none;
  }
}
.navbar-default .navbar-collapse {
  border: none;
}
.navbar-default .navbar-nav>li>a {
  font-family: $heading-font;
  color: #676767;
  font-size: 16px;
  padding: 0;
  margin: 0 0.75em;

  &:hover {
    color: #3d97d2;
  }
}
.header-logo {
  .logo-header {
    font-family: $heading-font;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.5em;

    @media (min-width: $screen-sm-min) {
      margin-top: 0;
    }
  }

  a {
    color: inherit;
  }
}


// Footer Styles
.footer {
  width: 100%;
  background-color: #ffffff;
  text-align: center;

  &__main {
    border-top: 1px solid #dedede;
    padding: 2em 0 1em;
  }

  p {
    padding-top: 20px;
    padding-bottom: 8px;
    font-size: 16px;
  }

  &__icon-link {
    padding: 0 0.25em;
    font-size: 3em;
    color: #1f1f1f;
  }
}

// Global/Random

.container {
  max-width: 1000px;
}

//Button Styles
.btn-primary {
  font-family: $body-font;
  text-transform: uppercase;
  background-color: #3d97d2;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 9px 19px 9px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  border-top: 1px solid #dedede;
}

//Homepage styles
.homepage {
  &__header {
    text-align: center;
    padding: 0 0 3em;
    font-size: 1.75em;
    margin: 0;

    @media (min-width: $screen-sm-min) {
      padding: 0 0 2em;
      font-size: 2.5em;
    }
  }
}
//About Styles
.about {
  &__header {
    margin-top: 0;
  }

  &__paragraph {
    padding: 0.5em 0;
  }
}

// work
.work-item {
  padding: 2em 0;
  border-top: 1px solid #dedede;

  @media (min-width: $screen-md-min) {
    padding: 4em 0;
  }

  &:first-of-type {
    border: none;
    padding: 0 0 2em;
  }

  &:last-of-type {
    padding: 2em 0 0;
  }
}

.work-screenshot {
  border: 1px solid #dedede;
  transition: border 0.2s linear;
  margin-bottom: 1em;

  @media (min-width: $screen-md-min) {
    margin-bottom: 0;
  }
  &:hover {
    border: 1px solid #3d97d2;
  }
}

.work-title {
  margin-top: 0;
}

// Illustration Page
.art-thumb {
  float: left;
  @media (min-width: $screen-sm-min) {
    padding: 0 2em 0 0;
  }

  img {
    cursor: pointer;
    display: block;
    border: 1px solid #dedede;
    height: 65%;
    width: 65%;
    margin: 0 auto 1.5em;
    transition: border 0.2s linear;
    &:hover {
      border: 1px solid #3d97d2;
    }
    @media (min-width: $screen-sm-min) {
      max-height: 13em;
      width: 100%;
    }
    @media (min-width: $screen-md-min) {
      max-height: 18em;
    }
  }
}

.thumb-row {
  margin: 1em 0 3em 0;
}

.music {
  &__video {
    &:last-of-type {
      margin-top: 2em;

      @media (min-width: $screen-md-min) {
        margin-top: 0;
      }
    }
  }
  &__video-description {
    text-align: center;
  }
}

//contact page
.contact {
  text-align: center;

  &__content {
    @media (min-width: $screen-sm-min) {
      padding: 0 6em;
    }
  }

  &__social {
    padding-top: 2em;
  }

  &__icon {
    font-size: 2.5em;
    padding: 0 0.25em;
  }
}

// Modal Styles
.modal-dialog {
  width: 100%;
  @media (min-width: $screen-md-min) {
    width: 450px;
  }
}

.modal-header {
  border: none;
}

.modal-content {
  border-radius: 0;
  background: none;
  box-shadow: none;
  border: none;
}

.modal-backdrop {
  opacity: 0.9 !important;
}

.modal-body {
  margin-bottom: 20px;
}

.art-large {
  width: 100%;
  img {
    width: 100%;
  }
}

.close {
  opacity: 1;
  text-shadow: none;
  color: #dedede;
}

.modal-text {
  h3, p {
    color: #fff;
  }
  .medium,
  .notes {
    margin: 0;
    opacity: 0.8;
  }
}

.modal-header {
  .close {
    margin-top: -12px;
    margin-right: -6px;
  }
}
